.buttonDiv{
    display: block;
    margin:10px; 
    padding:10px;
    background-color: rgb(0,0,0,0.6);
    color: whitesmoke;
    border-radius: 20px;
    box-shadow: 0px 5px 14px 10px rgba(0,0,0,0.4);
}

.buttonTitle{
    text-transform: uppercase;
    margin: 10px 0;
}

.button{
	background: #4c4c4c;
	border: none;
	padding: 10px 20px 10px 20px;
	border-bottom: 3px solid #6c6c6c;
	border-radius: 3px;
    color: #fff;
    cursor: pointer;
    outline: none;
    text-decoration: none;
}
.button:hover{
	background: #6c6c6c;
    color:#fff;
    text-decoration: none;
}