
.navbar{
    background-color: #333;
    color: #fff;
    height: 10vh;
    z-index: 2;
}

.navbar h1 {
    position: absolute;
    top: 3vh;
    margin-left: 10px;
    font-size: 20px;
}

.links{
    display: flex;
    flex-direction: row;
    list-style: none;
    width: 50%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
}

.links li a{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

a:hover, .activeClass{
    color: #ccc;
    text-decoration: underline;
}

@media screen and (max-width: 768px){
    nav{
        position: relative;
    }


    .burgerMenu div{
        height: 4px;
        width: 30px;
        margin: 5px;
        background-color: #fff;
    }

    .burgerMenu{
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 45%;
        transform: translate(-5%, -50%);
    }

    .links{
        position: fixed;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        background-color: #333;
        clip-path: circle(100px at 90% -30%);
        -webkit-clip-path: circle(100px at 90% -30%);
        transition: all 1s ease-out;
    }

    .links.open{
        clip-path: circle(1100px at 90% -30%);
        -webkit-clip-path: circle(1100px at 90% -30%);
    }
}


