.background-image {
  position: fixed;
  left: -10px;
  z-index: -1;
  display: block;
  background-image: url('./assets/memewall.jpg');
  width: 120%;
  height: 120%;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}
.container {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1;
  margin-left: 20px;
  margin-right: 20px;
}

